<div class="flex flex-row-reverse ">
  <button pButton pRipple type="submit" (click)="onSaveClick()" class="p-button-save" label="Guardar"></button>
  <button pButton pRipple type="submit"  class="p-button-close" label="Cerrar"></button>
</div>
