
/* Botones */
button{
  margin: 10px;
  margin-top: 1rem;
  margin-left: 10px;
  border: solid 1px #37C597;
}

.p-button-save, .p-button-save:enabled:hover,.p-button-save:enabled:focus {
  background-color: #37C597;
}

.p-button-close, .p-button-close:enabled:hover,.p-button-close:enabled:focus{
  background-color: white;
  color: #37C597;
}

.p-button-close:enabled:hover{
  border: solid 1px #3BE8B0;
}


p-tabview-ink-bar{
  background-color: #3BE8B0;
}
