.toolbar-table{
  color: #179DBA;
}

:host ::ng-deep .p-button {
  margin-right: .5rem;
}

:host ::ng-deep .p-toolbar{
  padding: .5rem;
}

:host ::ng-deep  .p-dialog .p-dialog-heador{
  justify-content: center;
}
