<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded p-button-outlined"
      icon="pi pi-download"
    ></button>
    <button
      pButton
      class="p-button-rounded p-button-outlined"
      icon="pi pi-print"
    ></button>
    <button
      pButton
      class="p-button-rounded p-button-outlined"
      icon="pi pi-filter"
    ></button>
    <button
      class="p-button-rounded p-button-outlined"
      pButton
      icon="pi pi-search"
    ></button>
  </ng-template>
  <ng-template pTemplate="right">
    <button
      pButton
      pRipple
      label="Nuevo"
      icon="pi pi-plus"
      class="p-button-text toolbar-table"
      (click)="goToNewDocument()"
    ></button>
    <button
      pButton
      pRipple
      label="Eliminar"
      icon="pi pi-trash"
      class="p-button-text toolbar-table"
      (click)="deleteSelectedCatalogos()"
      [disabled]="!selectedCatalogos.length"
    >
    </button>
  </ng-template>
</p-toolbar>

<p-table [value]="listadoCatalogos" [(selection)]="selectedCatalogos">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Grupo</th>
      <th>Documento</th>
      <th>Métodos Go Descarga</th>
      <th>Métodos Go Carga</th>
      <th>API para bajar</th>
      <th>API para subir</th>
      <th>Descriptor JSON</th>
      <th>Mail</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-catalogo>
    <tr>
      <td>
        <p-tableCheckbox [value]="catalogo"></p-tableCheckbox>
      </td>
      <td>{{ catalogo.grupo }}</td>
      <td>{{ catalogo.documento }}</td>
      <td>{{ catalogo.metodosGoDescargas }}</td>
      <td>{{ catalogo.metodosGoCargas }}</td>
      <td>{{ catalogo.apiDownload }}</td>
      <td>{{ catalogo.apiUpload }}</td>
      <td>{{ catalogo.descJson }}</td>
      <td>{{ catalogo.mail }}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="catalogoDialog"
  [style]="{ width: '450px' }"
  header="¡Atención!"
  [modal]="true"
  styleClass="p-fluid"
  [closable]="false"
>
  <ng-template pTemplate="content"  >
    <p>Se eliminaran los elementos seleccionados</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      label="Cancelar"
      (click)="hideDialogDelete()"
    >
    </button>
    <button
      pButton
      pRipple
      type="button"
      label="Eliminar"
      (click)="confirmDelete()"
    >
    </button>
  </ng-template>
</p-dialog>
