
<p-toolbar class="p-toolbar-title-view">
  <ng-template pTemplate="left">
    <h2 class="title-view">Catálogo de Documentos</h2>
  </ng-template>
  <ng-template pTemplate="right">
    <button pButton pRipple label="Home" class="p-button-text"></button>
    <button pButton pRipple label="Configuración" class="p-button-text"></button>
  </ng-template>
</p-toolbar>
<hr>


<app-table-catalogo-documentos></app-table-catalogo-documentos>
