@font-face {
  font-family: 'MontserratRegular';
  src: local('Montserrat-Regular'), url('../../../../assets/font/MontserratOTF/Montserrat-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'MontserratLight';
  src: local('Montserrat-Light'), url('../../../../assets/font/MontserratOTF/Montserrat-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'MontserratBold';
  src: local('Montserrat-Bold'), url('../../../../assets/font/MontserratOTF/Montserrat-Bold.ttf') format('opentype');
}

:host ::ng-deep .p-toolbar{
  padding: 0px;
}

.title-view{
  font-family: 'MontserratLight';
  color: #FC636B;
}

