body{
  padding: 6px 3% 0px;

}
.title{

  font-family: "Montserrat", Roboto, sans-serif;
  float: left;
  text-align: left;
  color: #fc636b;
  font-size: x-large;
  vertical-align: sub;
}
.button-nav{

  margin-top: 12px;
  float: right;
  text-align: right;
}
.button-nav a{

  /* padding: 10px; espacio alrededor texto */
  /* background-color: #2e518b; color botón */
  color: #179dba; /*color texto*/
  text-decoration: none; /*decoración texto*/
  margin: 10px;
  font-family: "Montserrat", Roboto, sans-serif;
}
.fix-float{
  margin-top: 40px;
  clear: both;
  border-bottom: 2px solid #b3bcc4;
}
form{
  margin-top: 1rem;
}
label{
font-size: small;
font-family: "Montserrat", Roboto, sans-serif;
color: #676d76;
}
small{
  font-family: "Montserrat", Roboto, sans-serif;
}
.required{
  color: #e63b3b;
}
.block-div {
  display: inline-flex;
  /* margin-right: 100px; */
}
.p-field{
    margin: 10px;
    /* margin-right: 100px; */
}
/* .inputText{
  margin-left: 296px;
  margin-right: -220px;
  width: 80%;
  font-family: "Montserrat", Roboto, sans-serif;
} */

.inputText2{
  /* margin-left: 120px;
  margin-right: -220px; */
  /* width: 97%;
  font-family: "Montserrat", Roboto, sans-serif; */
}
/* .selector{
    margin-right: 100px;
    width: 97% !important;
} */
