<div class="pt-3 px-md-6">
  <div class="navbar">
      <div class="container">
          <div class="header">
              <div class="title">
                  <span *ngIf="nuevo">Alta de Documento</span>
                  <span *ngIf="!nuevo">Editar Documento</span>
              </div>
              <div class="button-nav">
                  <a class="nav-link" href="/home" >Home</a>
                  <a class="nav-link" href="#" >Configuración</a>
              </div>
          </div>
      </div>
  </div>
  <div class="fix-float"></div>
  <form [formGroup]="configDocumentForm" (ngSubmit)="onSubmit()">
      <div class="p-field p-fluid ">
          <div style="display: inline-flex;width: 100%;">
              <div style="width: 35%; margin-right: 20px;">
                  <label for="gruposSelect">Grupo <span class="required">*</span></label>
                  <p-dropdown [ngClass]="{
                      'ng-invalid ng-dirty': campoEsValido('grupo')
                      }"
                  [options]="gruposSelect"
                  formControlName="grupo"
                  optionLabel="caption"
                  optionValue="CODIGO"
                  placeholder="Grupo"
                  inputId="gruposSelect"
                  [showClear]="true"
                  [autoDisplayFirst]="false"
                  >
                  </p-dropdown>
              </div>
              <div>
                  <div style="margin-left: 7px;width: 95%;" >
                      <label for="tipoDocumeto">Tipo de documento <span class="required">*</span></label>
                      <input id="tipoDocumeto"
                          type="text"
                          aria-describedby="tipoDocumeto-help"
                          [ngClass]="{
                          'ng-invalid ng-dirty': campoEsValido('publicacion')
                          }"
                           pInputText
                           formControlName="publicacion"/>
                      <small id="tipoDocumeto-help" class="p-error">Tipo de documento ya existe.</small>
                  </div>
              </div>
              <div>
                  <div style="margin-right: 10px;margin-left: 7px;width: 77%">
                      <label for="API">API para publicar <span class="required">*</span></label>
                      <input id="API" type="text"
                          aria-describedby="API-help"
                          [ngClass]="{
                          'ng-invalid ng-dirty': campoEsValido('apiUpload')
                          }"
                          pInputText
                          formControlName="apiUpload"/>
                      <small id="API-help" class="p-error">La API debe ser única para cada tipo de documento.</small>
                  </div>
              </div>
          </div>
      </div>
      <div >
          <div class="p-fluid flex flex-nowrap overflow-hidden card-container green-container" style="display: inline-flex">
              <div style="width: 368px;margin-left: 9px;">
                  <div >
                      <label for="API-Descarga">API para descargar <span class="required">*</span></label>
                      <input
                      id="API-Descarga"
                      type="text"
                      aria-describedby="API-Descarga-help"
                      [ngClass]="{
                          'ng-invalid ng-dirty': campoEsValido('apiDownload')
                          }"
                      pInputText
                      formControlName="apiDownload"/>
                      <small id="API-Descarga-help" class="p-error">La API debe ser única para cada tipo de documento.</small>
                  </div>
              </div>
              <div style="width: 400px;margin-left: 25px;margin-right: 22px;" >
                  <label for="descriptor">Descriptor JSon <span class="required">*</span></label>
                  <input
                  id="descriptor"
                  type="text"
                  aria-describedby="descriptor-help"
                  [ngClass]="{
                      'ng-invalid ng-dirty': campoEsValido('jsonName')
                      }"
                  pInputText
                  formControlName="jsonName"/>
              </div>
              <div style="width: 403px;margin-left: 0px;">
                  <label for="Mail">Mail <span class="required">*</span></label>
                  <input
                  id="Mail"
                  type="text"
                  aria-describedby="Mail-help"
                  [ngClass]="{
                      'ng-invalid ng-dirty': campoEsValido('mail')
                      }"
                  pInputText
                  formControlName="mail"/>
                  <small id="Mail-help" class="p-error">El E-mail debe ser único para cada tipo de documento.</small>
              </div>
          </div>
  </div>

      <div class="p-field p-fluid ">
          <div style="
          display: inline-flex;
          width: 100%;
          margin-top: 1rem;
      ">
              <div style="width: 20%; margin-right: 20px;">
                  <label for="gruposSelect">Métodos GO de cargas</label>
                  <p-listbox  [checkbox]="true" [multiple]="true" formArrayName="metodosGoCargas" [options]="metodosCargas" optionLabel="caption" optionValue="CODIGO" display="chip"></p-listbox>

              </div>
              <div style="width:20%">
                  <label for="gruposSelect">Métodos GO de descargas</label>
                  <p-listbox [checkbox]="true" [multiple]="true" formArrayName="metodosGoDescargas" [options]="metodosDescargas" optionLabel="caption" optionValue="CODIGO" display="chip"></p-listbox>
              </div>
          </div>
      </div>
      <app-button (btnSave)="onSaveClick($event)"></app-button>


  </form>


</div>
