/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'MontserratRegular';
  src: local('Montserrat-Regular'), url('./assets/font/MontserratOTF/Montserrat-Regular.ttf') format('opentype');
}

body{
  font-family: MontserratRegular;
}
